{{/* Override this file to add a custom footer to every page. */}}
{{/* This partial is included in `layouts/partials/site_footer.html`. */}}


<style>
.footer {
    padding: 10px 20px;
    font-size: 16px;
    position: fixed;
    bottom: 0;
    right: 15%;
    width: 70%;
    z-index: 99;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: red;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
  
</style>

<div class="footer">
  <a class="button-exit" id="safeBtn" href="http://www.google.com/" title="Safe Exit" style="color:#FFFFFF" tabindex="0">Safe Exit</a>
</div>


